.vh-100 {
  height: 100vh;
  background-color: #090e07;
}

.card {
  border-radius: 1rem;
}

.img-fluid {
  border-radius: 1rem 0 0 1rem;
}

.fa-cubes {
  color: #ff6219;
}

h5 {
  letter-spacing: 1px;
}

.login-subtext {
  color: #393f81;
}
